@import '../../abstracts/variables.module.scss';

.card {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto;
  object-fit: contain;

  border-radius: $border-radius-large;
  backdrop-filter: blur(10px);
  color: $text-color-dark-primary;
  background-color: $bg-color-light-secondary;

  & img {
    max-height: 100px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 4px 4px #2121213f;
    transition: $smooth-transition;

    &:hover {
      
      box-shadow: 0px 4px 4px #2121211d;
    }
  }

  & h3 {

    margin: 1rem 1.5rem;
    font-size: $font-size-medium;
    text-align: start;
  }

  & p {
    margin: 0 1.5rem;
    text-align: start;

  }

  & .info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  & .btn-card {
    margin: 1rem 1.5rem;
  }
  
}

