@import '../../abstracts/variables.module.scss';

.modal-page {
  display: flex;
  flex-direction: row;  
  align-items: center;
  max-width: 900px;
  margin-top: 12px;
  color: $bg-color-dark-primary;

  & .header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    margin: 1.5rem;

    & h6 {
      margin: 1.5rem;
    }
  
    & p {
      margin: 0 auto;
    }
  }
}

.modal {
  position: absolute;
  z-index: 10;
  left: calc(60% - 300px);
}

.modal-container {
  flex: 2;
  display: flex;
  height: 344px;
  width: 100%;
  margin-right: 12px;
  background-color: $bg-color-light-primary;
  border-radius: $border-radius-large;
  justify-content: center;
  align-items: center;

  & .btn-modal {
    border-style: none;
    font-size: $font-size-medium;
    padding: .5rem 1.5rem;
    margin: auto;
    color:  $text-color-light-primary;
    border-radius: $border-radius-small;
    transition: $smooth-transition;
    background-color: $hi-sat-purple2;
    box-shadow:  0px 3px 4px #0000004a;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      box-shadow: none;
    }
  }

}

  .modal-bg {
    z-index: 1;
    background: linear-gradient(135deg, rgba(156,249,226,.5) 0%, rgba(226,124,242,.5) 100%);
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 252%;
  }


.code {
  max-width: 950px;
  margin: auto;

  & .code-cols {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


    & .jsx-code, .scss-code {


      & .jsx-code-title, .scss-code-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    
        & h5 {
          padding: 0 1rem;
        }
      }
    }
  }
}


