@import '../../abstracts/variables.module';

.BadgeComp {
  max-width: 200px;
  margin: auto;
  margin-bottom: 1rem;
  font-weight: $font-weight-bold;
  transition: $smooth-transition;
  padding: .5rem 1.5rem;
  border-radius: $border-radius-xlarge;
  border: solid 1px $lime;
  background-color: $bg-color-dark-primary;
  background: linear-gradient(0deg, $bg-color-dark-primary 0%, $lime 100%);


  &:hover {
    opacity: .8;
  }
}

