@import '../../abstracts/variables.module';

.BadgeComp {
  font-weight: $font-weight-bold;
  transition: $smooth-transition;
  padding: .2rem 1.5rem;
  font-size: .8rem;
  border-radius: $border-radius-xlarge;
  border: solid 1px $lime;
  background-color: $bg-color-dark-primary;
  color: $bg-color-light-primary;
  background: linear-gradient(0deg, $bg-color-dark-primary 0%, $lime 100%);
  
  &:hover {
    opacity: .8;
  }
}

